<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock">
    <!-- Default Style Sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Default Website Icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/') }}"/>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon"  href="{{ url_for('static', filename='img/hqdefault.webp') }}">
    
    <!-- Title -->
    <title>GraboidRFC</title>

    <!-- Head Block -->
    {% block head %}{% endblock %}

  </head>
  <body>

    <!-- Navbar import -->
    {% include 'navigation.html' %}

    <!-- Body Block -->
    {% block body %}{% endblock %}

    <!-- Footer Block -->
    {% block footer %}{% endblock %}

    <!-- Default JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}" /></script>

    <!-- JavaScript Block -->
    {% block javaScript %}{% endblock %}
  
  </body>
</html>