{% extends 'base.html' %}

<!-- HEAD -->
{% block head %}{% endblock %}

<!-- BODY -->
{% block body %}

<!-- MAIN -->
<div class="main-div">

  <div class="separatore"></div>

  <div class="colonne is-desktop">

    <!-- CONTAINER DI SINISTRA -->
    <div class="sinistra">
      <div class="box">

        <!-- FORM -->
        <form method="POST" action="/search">
          {{ context["form"].csrf_token }}

          <section>

            <!-- FIELDSET RICERCA -->
            <fieldset class="fieldset" style="margin-top:0;">
              <legend class="legend">Search</legend>
              <div class="control" style="display:flex;">

                {{ context["form"].ricerca_principale }}
                {{ context["form"].submit }}

              </div>
              <div class="control" style="display:flex; margin-top:2%;">
                <div class="checkbox" style="margin-right: 3%;">

                  {{ context["form"].spelling_correction }}
                  <label for="spelling_correction">Spelling correction</label>

                </div>
                <div class="checkbox">

                  {{ context["form"].synonims }}
                  <label for="synonims">Synonims</label>

                </div>
              </div>
              <div class="search_engine">
                <div class="control">
                  <div class="radio">

                    {{ context["form"].search_engine }}

                  </div>
                </div>
              </div>
            </fieldset>
            <!-- FIELDSET RICERCA -->

            <!-- FIELDSET TERMINI DI RICERCA -->
            <fieldset class="fieldset">
              <legend class="legend">Search terms</legend>

              <!-- Campi iniziali search terms -->
              {% for term_form in context["form"].terms.entries %}
              <div class="field has-addons-tablet" data-toggle="fieldset-entry">
                <div class="control">
                  <span class="select">
                    {{ term_form.operator() }}
                  </span>
                </div>
                <div class="control is-expanded">
                  {{ term_form.term() }}
                </div>
                <div class="control">
                  {{ term_form.field() }}
                  </span>
                </div>
              </div> <!-- Campi iniziali search term -->
              {% endfor %}

              <div id="aggiuntivi">
                <!-- qui vengono aggiunti i campi per i search term -->
              </div>

              <div class="field is-clearfix" id="bottoni"> <!-- Pulsante per aggiungere search terms -->
                <div class="control is-pulled-right">

                  <!-- hihihihihihihihihi non mi vedi -->
                  {{ context["form"].numero_terms }}
                  <!-- hihihihihihihihihi non mi vedi -->

                  <button id="aggiungi" type="button" class="button is-medium" data-toggle="fieldset-add-row"
                    data-target="#terms-fieldset">
                    <span>Add term</span>
                  </button>

                </div>
              </div>

              <script>
                const maxTerms = 5; // Limite massimo di campi aggiuntivi
                let termCounter = 0; // Contatore per ID univoci
                let freedIds = [];   // Lista di ID liberati

                document.getElementById("aggiungi").addEventListener("click", function () {
                  const container = document.getElementById("aggiuntivi");

                  // Impostiamo un massimo di termini inseribili
                  if (container.children.length >= maxTerms) {
                    return;
                  }

                  // Determina l'ID da usare eventualmente andandoli a prendere da quelli liberati
                  const uniqueId = freedIds.length > 0 ? freedIds.pop() : termCounter++;

                  const newTermHtml = `
                      <div class="field has-addons-tablet" id="term-${uniqueId}">
                        <div class="control">
                          <span class="select">
                            <select default="AND" name="terms-${uniqueId}-operator" id="terms-${uniqueId}-operator">
                              <option value="AND">AND</option>
                              <option value="OR">OR</option>
                              <option value="NOT">NOT</option>
                            </select>
                          </span>
                        </div>
                        <div class="control is-expanded">
                          <input type="text" name="terms-${uniqueId}-term" class="input" placeholder="Search terms">
                        </div>
                        <div class="control">
                          <span class="select">
                            <select default="KEYWORDS" name="terms-${uniqueId}-field" id="terms-${uniqueId}-field">
                              <option value="KEYWORDS">Keywords</option>
                              <option value="TITLE">Title</option>
                              <option value="DESCRIPTION">Description</option>
                            </select>
                          </span>
                        </div>
                        <button type="button" class="button is-medium remove-term-button" onclick="DeleteParent(this, ${uniqueId})" data-id="${uniqueId}" style="background: #086db1; color: #fff; border-radius:0;">╳</button>
                      </div>
                    `;

                  container.insertAdjacentHTML('beforeend', newTermHtml);

                });

                function DeleteParent(button, freed) {

                  // Rimuove il campo
                  button.parentElement.remove();

                  // Aggiungi l'ID liberato alla lista freedIds se non è già presente
                  if (!freedIds.includes(freed)) {
                    freedIds.push(freed);
                  }
                };
              </script>

            </fieldset>
            <!-- FIELDSET TERMINI DI RICERCA -->

            <!-- FIELDSET STATO -->
            <fieldset class="fieldset">
              <legend class="legend">Stato</legend>
              <div class="columns is-baseline">
                <div class="column">
                  <div class="field is-horizontal is-grouped">
                    <div class="control">
                      <div class="checkbox">

                        {{ context["form"].standard_track }}
                        <label for="standard">Standard track</label>
                        
                      </div>
                    </div>
                    <div class="control">
                      <div class="select is-small" id="ddInCheck">
                        
                        {{ context["form"].standard_track_value }}
                        
                      </div>
                    </div>
                  </div>

                  <script>
                    $('select#standard_track').change(function () {
                      $('input#standard').attr('checked', true);
                    });
                  </script>

                  <div class="field is-horizontal">
                    <div class="control">
                      <div class="checkbox">

                        {{ context["form"].best_current_practice }}
                        <label for="best_current_practice">Best current practice</label>

                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="control">
                      <div class="checkbox">

                        {{ context["form"].informational }}
                        <label for="informational">Informational</label>

                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="control">
                      <div class="checkbox">

                        {{ context["form"].experimental }}
                        <label for="experimental">Experimental</label>

                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="control">
                      <div class="checkbox">

                        {{ context["form"].historic }}
                        <label for="historic">Historic</label>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </fieldset>
            <!-- FIELDSET STATO -->

            <!-- FIELDSET DATE -->
            <fieldset class="fieldset ">

              <legend class="legend">Date</legend>

              {% for i in context["form"].dates %}

              {% if i.id.endswith('0') %}
              <div class="field is-grouped">
                <div class="control">
                  <div class="radio">

                    {{ i }}
                    <label for="date-filter_by-0">All dates</label>

                  </div>
                </div>
              </div>
              {% endif %}

              {% if i.id.endswith('1') %}
              <div class="field is-grouped">
                <div class="control">
                  <div class="radio">

                    {{ i }}
                    <label for="date-filter_by-2">Specific year</label>

                  </div>
                </div>
                <div class="control is-datefield">

                  {{ context["form"].date_year }}
                  <label for="date-year" class="hidden-label">Enter four digit year</label>
                  
                  <script>
                    $('#date-year').focus(function () {
                      $('input[name="date-filter_by"]').attr('checked', false);
                      $('input[value="specific_year"]').attr('checked', true);
                    });
                  </script>

                </div>
              </div>
              {% endif %}

              {% if i.id.endswith('2') %}
              <div class="field is-grouped">
                <div class="control">
                  <div class="radio">

                    {{ i }}
                    {{ context["form"].dates["DATE_RANGE"] }}

                    <label for="date-filter_by-3">Date range</label>
                  </div>
                </div>
              </div>
              {% endif %}

              {% if i.id.endswith('2') %}
              <div class="field is-grouped">
                <div class="control">
                  <div class="control"><label for="date_from_date">From</label></div>
                  <div class="control is-datefield">

                    {{ context["form"].date_from_date }}

                  </div>
                </div>
                {% endif %}

                {% if i.id.endswith('2') %}
                <div class="control" id="date_to">
                  <div class="control"><label for="date_to_date">to</label></div>
                  <div class="control is-datefield">

                    {{ context["form"].date_to_date }}

                  </div>
                </div>
              </div>
              {% endif %}

              {% endfor %}

              <script>
                $('#date-to_date').focus(function () {
                  $('input[name="date-filter_by"]').attr('checked', false);
                  $('input[value="date_range"]').attr('checked', true);
                });
                $('#date-from_date').focus(function () {
                  $('input[name="date-filter_by"]').attr('checked', false);
                  $('input[value="date_range"]').attr('checked', true);
                });
              </script>

            </fieldset>
            <!-- FIELDSET DATE -->

          </section>

          <section>
            <div class="field_abs">
              <div class="control">
                <label class="radio">

                  {{ context["form"].abstracts }}

                </label>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="field is-horizontal is-grouped">
                    <div class="control">
                      <span class="select is-small">
                        
                        {{ context["form"].size }}

                      </span>
                    </div>

                    <div class="control" id="results" style="margin-top: 2%;">
                      <label for="size">results per page</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="button is-link is-medium">Search</button> -->
          </section>
        </form>
      </div>

    </div> <!-- END sinistra -->

    <!-- CONTAINER DI DESTRA -->

    <div class="destra">

      <article class="message is-link" id="woosh">
        <div class="message-header" id="woosh">
          <h4 class="has-text-white is-marginless is-bold">Woosh</h4>
        </div>
        <div class="message-body" id="woosh">
          <p id="p"><b>Sintassi supportata</b></p>
          <ul>
            <li>Single term query: <code>"[term]"</code></li>
            <li>Phrase query: <code>"[phrase]"</code></li>
            <li>Logic operators: <code>AND, OR, NOT</code></li>
            <li>Find documents containing x but not either y or z: <code>x NOT (y OR z)</code></li>
            <li>Fields: <code>[field]:[term]</code> </li>
            <li>Wildcards: <code>?, *</code> </li>
            <li>Fuzzy term: <code>[term]~[edits]</code></li>
            <li>Range: 
              <ul>
                <li>Inclusive: <code>[udp TO tcp]</code></li>
                <li>Exclusive: <code>{udp TO tcp}</code></li>
              </ul>
            </li>
            <li>Term boosting: <code>udp^2 tcp^0.5</code></li>
            <li>Confronto: <code>>, <, >=, <=</code></li>
          </ul>
        </div>
      </article>
      <article class="message is-link" id="pylucene">
        <div class="message-header" id="pylucene">
          <h4 class="has-text-white is-marginless is-bold">Pylucene</h4>
        </div>
        <div class="message-body" id="pylucene">
          <p id="p"><b>Sintassi supportata</b></p>
          <ul>
            <li>Single term query: <code>"[term]"</code></li>
            <li>Phrase query: <code>"[phrase]"</code></li>
            <li>Logic operators: <code>AND, OR, NOT, +, -</code></li>
            <li>Fields: <code>[field]:[term]</code> </li>
            <li>Wildcards: <code>?, *</code> </li>
            <li>Fuzzy term (0.0 .. 1.0): <code>[term]~[edits]</code></li>
            <li>Proximity search: <code>[term/phrase]~[distance]</code></li>
            <li>Range: 
              <ul>
                <li>Inclusive: <code>[udp TO tcp]</code></li>
                <li>Exclusive: <code>{udp TO tcp}</code></li>
              </ul>
            </li>
            <li>Term boosting: <code>udp^2 tcp^0.5</code></li>
            <li>Confronto: <code>>, <, >=, <=</code></li>
            <li>Escape special characters with <code>\</code></li>
          </ul>
        </div>
      </article>
      <article class="message is-link" id="postgresql">
        <div class="message-header" id="postgresql">
          <h4 class="has-text-white is-marginless is-bold">PostgreSQL</h4>
        </div>
        <div class="message-body" id="postgresql">
          <p id="p"><b>Sintassi supportata</b></p>
          <ul>
            <li>Operatori logici: <code>AND, OR, NOT</code></li>
            <li>Proximity search: [sintassi]</li>
          </ul>
        </div>
      </article>

    </div> <!-- END destra -->

  </div> <!-- END colonne is-desktop -->
</div> <!-- END main-div -->

{% endblock %}